/*HEY! DONT FORGET TO TRY TO MINIFY THIS FILE FOR PERFORMANCE BECAUSE THAT'S COOL*/
/* USE CSS MINIFY FOR THIS */

/* COLOR SCHEME!! Dark Gray #747474 | Teal #8ec3af | Light Gray #d5d5d5 | Navy #01395e */

/* global styles*/

body{
	font-family: 'Open Sans', Helvetica, sans-serif;
	margin: 0;

}

header{
	background-color: #747474;
	margin: 0;
	padding: 10px 20px;
	color: white;
}

h1{
	margin: 0;
	font-size: 1.5em;
	display: inline-block;
	text-transform: uppercase;
}

input{
	display: block;
	width: 100%;
	height: 2em;
	margin-bottom: 20px;
	border-color: #d5d5d5;
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
}

label{
	display: block;
	font-size: 0.75em;
	color: #747474;
}

#countdown{
	margin-top: 10px;
}

/* index.html styles */

.form-container {
	width: 90%;
	margin: auto;
	text-align: center;
}

#hidden-label{
	display: none;
}

.btn-submit{
	display: inline-block;
	padding: 10px 100px;
	color: #fff;
	background: #8ec3af;
	border-radius: 5px;
}

.btn-submit:hover{
	color: #fff;
	background: #01395e;
}

.note{
	font-style: italic;
	color: #d5d5d5;
	font-size: 0.75em;
}

/* timeline.html specific styles */

.hero-image{
	background-image: url(../img/sonogram.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	padding: 150px;
}

.hero-image h2{
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-size: 2em;
}

/* entry.html specific styles */
label{
	text-align: left;
}

.custom-reset{
	display: inline-block;
	border: none;
	text-align: left;
	width: auto;
	font-size: 1em;
	color: #747474;
	cursor: pointer;
	margin-right: 10px;
}

.custom-submit{
	display: inline-block;
	width: 50%;
	height: 40px;
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 1em;
	border: none;
	margin-top: 20px;
	padding: 5px;
	color: #fff;
	background: #8ec3af;
	border-radius: 5px;
	cursor: pointer;
}

.custom-submit:hover{
	color: #fff;
	background: #01395e;
}

#post-body{
	display: block;
	min-height: 100px;
	width: 100%;
	border-color: #d5d5d5;
	border-width: 2px;
	border-radius: 5px;
}

/* timeline.html specific styles*/

/* MEDIA QUERIES START HERE */

/* DESKTOP*/
@media only screen and (min-width: 992px){
.form-container{
	max-width: 50%;
}

#countdown{
	float: right;
}

}

/* XL DESKTOP*/
@media only screen and (min-width: 1200px){

}
